<!-- <div class="card" style="width: 50%;">
    <div class="card-img-top" style=" height: 50vh; background: rgb(2,0,36); background-image:linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 2%, rgba(0,0,0,0) 50%), url(<%= asset_path @product.pic %>); border-radius:10px; height:200px; background-size:cover; background-position: center; padding:24px;">
    </div>  <div class="card-body">
    <p class="card-text"><%= @product.description %></p>
  </div>
  <p>Amount: <%=@product.price %></p>
  <div>
    <%= link_to 'Purchase', "#", class: "btn btn-gradient" %>
  </div>
</div>
 -->

 <div>
<img src= <%= asset_path @product.pic %>) alt="edit" />
 </div>
