<div class="thing mt-5" style="text-align: center">

<h1>Are the following details for your order correct?</h1>
<p><strong>If so, cick continue. if not, please update them by clicking the "Change details" button below</strong></p>

</div>
<br>
<br>

<div style="border-top: solid 1px;border-bottom: solid 1px;">
  <h2 style="text-decoration: underline;">CUSTOMER DETAILS</h2>
  <br>
  <div>
    <ul style="font-size: 20px;">
      <li> NAME:  <%= @client.name %></li>
      <li> SURNAME:  <%= @client.surname %></li>
      <li> SHIPPING ADDRESS:  <%= @client.address %></li>
      <li> SUBURB:  <%= @client.suburb %></li>
      <li> CITY:  <%= @client.city %></li>
      <li> PROVINCE:  <%= @client.province %></li>
      <li> POSTAL CODE:  <%= @client.postal_code %></li>
    </ul>
  </div>
</div>

<div>


</div>
<h2 style="text-decoration: underline;"> Items in your cart: </h2>
<br>

  <% if @order_items.size > 0 %>
  <% @order_items.each do |item| %>
  <div class="well">
    <div class="row">
      <div class="col-sm-8" style="display: flex; justify-content: space-between;">
        <h6><%= item.product.title %></h6>
        <h6>X<%= item.quantity %></h6>
        <h6>R<%= item.product.price %></h6>

      </div>
    </div>
  </div>
<% end %>
<% end %>
<p>--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
<br>
<h3> Total: R<%= current_order.subtotal %> </h3>

      <div class="form-group">
      <%= form_for (@buyer) do |f| %>
          <%= f.hidden_field :name, value: @client.name %>
          <%= f.hidden_field :surname, value: @client.surname %>
          <%= f.hidden_field :address, value: @client.address %>
          <%= f.hidden_field :address, value: @client.province %>
          <%= f.hidden_field :address, value: @client.city %>
          <%= f.hidden_field :address, value: @client.suburb %>
          <%= f.hidden_field :postal_code, value: @client.postal_code %>
      </div>
      <div class="btn-group">
        <%= f.submit "continue", class: "btn btn-success" %>
      </div>
      <% end %>
<%= link_to "Change Details", "#", class: "btn btn-danger" %>


