

<div class="cust-det-page">

<h1>Thank you for your time <%= @customer.full_name %></h1>

<h3>are the following details correct?</h3>
<p><strong>If not, please edit your details </strong></p>

<div class="customer-details">

<ul>
  <li><%= @customer.full_name %></li>
  <li><%= @customer.email %></li>
  <li><%= @customer.cell %></li>
  <li><%= @customer.shipping_address %></li>
</ul>

</div>



</div>
