<% if !@order_items.nil? && @order_item.errors.any? %>
      <ul>
        <% @order_items.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
  <% end %>

      <% if @order_items.size > 0 %>
      <% @order_items.each do |item| %>
      <div class="well">
        <div class="row">
          <div class="col-sm-8">
            <h3><%= item.product.title %></h3>
          </div>
          <div class="col-sm-4">
            <div class="pull-right">
              <%= form_for(item, remote: true) do |f| %>

              <%= f.hidden_field :product_id , value: item.product.id %>
              <h5><%= item.product.price %></h5>
              <div class="form-group">
                <%= f.text_field :quantity, value: item.quantity.to_i, min: 1, class: 'form-control' %>
              </div>
              <div class="btn-group">
                <%= f.submit "change quantity", class: "btn btn-primary" %>
                <%= link_to "Delete", item, method: :delete, remote: true, class: "btn btn-danger" %>
              </div>
              <% end %>
              <span> Total Price : <%= item.total_price %> </span>
            </div>
          </div>
        </div>
      </div>
      <% end %>
          <li> <%= link_to 'continue shopping', root_path  %></li>
      <% end %>
      <% if @order_items.size == 0 %>
      <p>no items in cart</p>
      <li> <%= link_to 'continue shopping', root_path  %></li>
      <% end %>

