<h4> Almost done! Just a few more steps. Fill in the order form below</h4>

      <div class="form-group">
      <%= form_for (@client) do |f| %>


          <%= f.hidden_field :buyer_id , value: @buyer.id %>
          <%= f.hidden_field :order_id , value: @order.id %>



          <%= f.text_field :name, placeholder: "First name"%>
          <%= f.text_field :surname, placeholder: "Last name"%>

          <%= f.text_field :address, placeholder: 'Shipping address'%>

          <%= f.text_field :postal_code, placeholder: 'Postal Code' %>

      </div>
      <div class="btn-group">
        <%= f.submit "submit details", class: "btn btn-primary" %>
      </div>
      <% end %>
